body {
  background-color: #111111;
  font-family: 'Space Mono', monospace;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 150px;
}

.hero-image {
  padding: 100px;
  width: 100%;
  border: 5px solid #00CC83;
}

.content {
  color: white;
  padding: 50px 150px;
  text-align: center;
}

.content p {
  margin-top: 50px;
}