* {
  padding: 0;
  /* This is to tells browser to not add any padding.*/
  margin: 0;
  /* This is to tells browser to not add any margin.*/
  box-sizing: border-box;
  /* Change box model so border and padding are not longer added to total width/height*/
}

.parent {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #111111;
  font-family: 'Work Sans', monospace;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  padding: 50px;
  font-family: 'Space Mono', monospace;
  font-style: normal;
}

nav h1 {
  color: aliceblue;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
}

.welcome-message {
  border: 6px solid #00CC83;
  max-width: 500px;
  position: absolute;
  top: 100px;
  right: 200px;
  height: 250px;
  padding: 40px;
}

.welcome-message h1, h3 {
  color: aliceblue;
}

.hero-image {
  width: calc(70vh - 200px);
  /* width: 30vw; */
}

.hero-image .bottom {
  position: absolute;
  bottom: 0px;
  left: 74px;
}

.hero-image .top {
  position: absolute;
  bottom: 0px;
  left: 75px;
}

.hero-image>img {
  position: relative;
  width: inherit;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.hero-image img.top:hover {
  opacity: 0;
}

.black-bar {
  height: 135px;
  width: 100%;
  align-self: flex-end;
  background-color: black;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  background-color: #111111;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/about-background.png");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
}

.about-box p {
  color: aliceblue;
  width: 50%;
  height: 50%;
  padding: 20px;
  /* border: 10px solid green; */
  background-color: black;
}




.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  /* background: darkkhaki; */
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  /* background: darksalmon; */
}

.section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background: beige;
}